*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    text-align: center;
    align-items: center;
  height: 8vh;
  border-bottom: 1px white solid;
 
  background: #DBD1EB ;
}
  body{
    background: rgb(245, 244, 239);
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

header nav{
    display: flex;
    justify-content: space-between;
    
    margin: auto;
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav ul li a{
    color: rgb(100, 100, 98);
    padding: 1rem;
}



/* home */
section{
    background-image: linear-gradient(to right top, #dbd1eb, #f5cedf, #ffd1c8, #f8dab7, #dae8ba);
    margin: 0 auto;
    
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
#home .img{
    margin-left: 5rem;
}
#home img{
    border-radius: 50%;

}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}


.content h1{
    font-size: 2rem;
    color: rebeccapurple;
}

.content p{
    color: rgb(243, 81, 60);
    padding:2rem 4rem;
    font-size: 1rem;
}
.button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;

}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
   
}

    
fieldset{
    width: 90%;
  
}
.am{
    font-size: 1rem;
    color: darkmagenta;

}


.info{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;  
    color: rgb(219, 70, 33); 
}
.info > *{
    padding:1rem;
    }

.info h3{
    color: rgb(172, 58, 30); 

}
fieldset legend{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: rgb(65, 63, 38);
}

.me{
    padding: 3rem;
    margin-top: 3rem;
}


.edug{
    display: flex;
    justify-content: space-around;
    padding: 3%;
}
.degree{
    color: brown;
}


section > h2{
    font-size: 3rem;
    padding: 1rem;
    color: rgb(211, 69, 216);
}

#portfolio{
 display: flex;
 flex-direction: column;
padding-top: 5%;
 margin: 0 auto;
 align-items: center;
justify-content: space-between;
 
}

.proholder{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}

/* portfolio */

#portfolio img{
    width: 500px;
}


.pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    
}

.proinfo{
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    #home{
        flex-direction: column;
   
        
    }

    #home .img{
        all: unset;
    }
    #home img{
        border-radius: 50%;
        width: 50%;
        margin: 0 auto;
    
    }
    #portfolio img{
        width: 300px;
    }
    .edug{
        flex-direction: column;
    }
    
  }


  footer{
     
      display: flex;
      align-items: center;
      height: 8vh;
      text-align: center;
      margin: 0 auto;
      justify-content: center;
     background: rgb(233, 206, 196);
    
  }
  footer p{
  
  }

  .sos{
      
      margin-left: 3rem;
      display: flex;
      justify-content: center;
      
  }
  .sos a{
      margin: 1rem;
  }
  .fa-heart{
      color: red;
  }


a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}
