*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 5% auto;
    
}
body{
    background: cornsilk;
    width: 100%;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex: 1;
    display: none;
    
}

header h1{
  flex: 1;
}

/* home */

#home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    margin: auto;
    width: 80%;
    margin: 0 auto;
}
#home .img{
    width: 100%;
}

#home img{
    border-radius: 50%;
    
    margin: 0 auto;
    align-items: center;
}

#about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}
#about p{
    padding: 5%;
}


.info{
    display: flex;
    justify-content: space-around;
    padding: 5%;
   
}

.education{
    display: flex;
    justify-content: space-around;

    width: 100%;
    padding: 5%;
}


section > h2{
    font-size: 3rem;
}

#portfolio{
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 80%;
 margin: 0 auto;

}



.proholder{
    display: flex;
 margin-top: 5%;
align-items: center;
justify-content: space-between;
height: auto;
flex-direction: column;
}

#portfolio img{
    width: 50%;
    float: left;
}


.pro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}