---
import About from "../components/About.astro";
import ScrollInfo from "../components/ScrollInfo.astro";
import Page from "../layouts/Page.astro";
---

<Page
  title='About me | Snehal'
  pageTitle=' Get to Know Me'
  href='/stuff'
  text='Check out my projects'>
  <p
    class='inline-block text-5xl absolute right-0 md:left-20'
      data-scroll
      data-scroll-sticky="true"
data-scroll-target="body"
      data-scroll-repeat
      data-scroll-speed='.1'
  >🪂</p>
    <About />

</Page>
