---
import About from "../components/About.astro";
import ScrollInfo from "../components/ScrollInfo.astro";
import Page from "../layouts/Page.astro";
---

<Page
  title='About me | Snehal'
  pageTitle=' Get to Know Me'
  href='/stuff'
  text='Check out my projects'>
  <section class='flex w-full gap-5'>
    <About />
    <div
      class='sticky top-0 h-screen md:flex flex-col justify-center w-1/2 hidden'>
      <ScrollInfo />
    </div>
  </section>
</Page>
