---
import Page from "../layouts/Page.astro";
import MyWork from "../components/MyWork.astro";
import OtherWork from "../components/OtherWork.astro";
---

<Page
    title='stuff | Snehal'
    pageTitle=' My Stuff'
    href='/me'
    text='Learn about me'>
    <div class='grid gap-20'><MyWork /> <OtherWork /></div>
</Page>
