---
import Technology from "@components/Technology.astro";

import Activity from "./Activity.astro";
---

<section class="flex flex-col overflow-hidden">
  <article
    class="flex animate-fade animate-delay-150 overflow-hidden relative flex-col">
    <div
      class="flex flex-col items-center h-full gap-20 m-auto w-full bg-gradient-to-t to-transparent from-black text-pretty rounded-[5rem]">
      <div
        class="m-auto flex flex-col animate-jump-in max-w-5xl p-5 pb-24 gap-10">
        <h3 id="intro" class="text-p-info relative">
          I'm a <span class=""> developer </span>
          with a background in <span class="text-primary"
            >Computer Engineering</span
          >. I create websites  <span class="text-primary"> websites</span> that bring visions to life.
        </h3>

        <p
          class="text-p italic !font-normal z-20 border-l-4 border-secondary pl-4"
          id="intro-2">
          Mainly, I work with <span class="font-extrabold pr-[2px] md:pr-0"
            >Astro</span
          > and the <span class="font-extrabold">React.js ecosystem</span> to create
          engaging digital experiences. I have some experience with <span
            class="pr-[2px] md:pr-0 font-extrabold">MongoDB</span
          > and
          <span class="pr-[2px] md:pr-0 font-extrabold">Firebase</span>, know
          some <span class="pr-[2px] md:pr-0 font-extrabold">SQL</span>, and
          enjoy working with <span class="pr-[2px] md:pr-0 font-extrabold"
            >headless CMS</span
          >.
        </p>
        <Technology />
      </div>
    </div>
    <Activity />
  </article>
</section>
