---
import P from "../layouts/P.astro";
---

<section class='flex w-full gap-5'>
    <div class='z-10 md:w-1/2 flex gap-5 flex-col'>
        <P>
            Hello, I'm Snehal Chaudhari, a web developer based in Vyara,
            Gujarat.
        </P>
        <P>
            I'm a web developer who absolutely loves anime, technology, science,
            and nature. This wonderful combination of passions brings out the
            best in my creativity and problem-solving skills. With knowledge of
            HTML, CSS, JavaScript, and cool frameworks like React and Node.js, I
            have the power to turn ideas into truly remarkable digital
            experiences.
        </P>
        <P>
            I completed my education in computer engineering, starting with a
            diploma from Nimra University in 2015. Building on that, I pursued a
            Bachelor's degree in Computer Engineering (BE) and finished it in
            2020 from C.K. Pithawala College.
        </P>
        <P>
            In terms of professional experience, I completed a 3-month
            internship at Sravadhi, followed by a 7-month tenure with the
            company. During this time, I worked extensively with Electron.js and
            React.js, gaining valuable expertise in cross-platform desktop
            application development and building interactive user interfaces.
            These experiences greatly enriched my skill set in frameworks and
            deepened my understanding of robust web application development.
        </P>
        <P>
            I'm passionate about making a positive impact through my work. I
            believe that every project is an opportunity for personal growth and
            learning. Staying updated with the latest trends and technologies in
            the web development industry is a priority for me, ensuring that I
            can deliver the best solutions.
        </P>
        <P>
            If you're looking for a dedicated, innovative, and enthusiastic web
            developer to bring your ideas to life, I'm here to assist you. Let's
            work together and create extraordinary digital experiences.
        </P>
        <button class='p-5 bg-rose-200 text-left text-xl md:text-3xl'
            >Resume</button
        >
    </div>
    <div
        class='sticky top-0 h-screen lg:grid place-content-center w-1/2 hidden'>
        hello
    </div>
</section>
