---
import ChevronRight from "@components/ChevronRight.astro";
---

<section
  class="bg-zinc-950 col-span-12 md:col-span-8 section-padding flex items-end justify-center relative overflow-hidden">
  <article
    class="text-p flex items-center p-10 justify-center bg-zinc-950 bg-opacity-5 backdrop-blur-3xl h-full w-full text-balance">
    <div class="max-w-5xl m-auto flex flex-col gap-10 text-primary">
      <p class="text-p-info opacity-0" id="cta-text">
        I'm passionate about making a positive impact through my work. I believe
        that every work is an opportunity for personal growth and learning.
      </p>
      <a
        id="cta"
        href="/stuff"
        class="p-5 md:p-8 border border-highlight text-highlight hover:bg-highlight hover:text-zinc-950 hover:border-zinc-950 md:text-xl rounded-[5rem] flex items-center justify-between transition-all ease-in-out duration-500 font-semibold opacity-0"
        >Check out my work
        <ChevronRight />
      </a>
    </div>
  </article>
</section>

<script>
  import { animate, inView } from "motion";

  inView("#cta-text", (info) => {
    animate(
      info.target,
      { y: [100, 50, 0], opacity: [0, 0.5, 1] },
      { duration: 1, delay: 0.5 }
    );
  });
  inView("#cta", (info) => {
    animate(
      info.target,
      { y: [-100, -50, -0], opacity: [0, 0.5, 1] },
      { duration: 1, delay: 1 }
    );
  });
</script>
