---
import ExternalLink from "../layouts/ExternalLink.astro";
import Link from "../layouts/Link.astro";
import EmailSvg from "../assets/email.svg";
---

<footer
    class=' flex flex-col md:flex-row justify-between p-5 w-full z-20 gap-5 dark:text-white text-black max-w-7xl m-auto' data-scroll-section>
    <div
        class='p-5 text-2xl md:text-5xl flex max-w-5xl items-center '>
        <p>
            If you have anything to share with me,please don't hesitate to
            contact me.
        </p>
    </div>
 
</footer>

