<footer class='flex bg-rose-400 justify-around fixed bottom-0 w-full'>
    <div class='p-5'>
        <span>&copy; 2023 Snehal Chaudhari</span>
        <br />
        <span>All rights reserved.</span>
    </div>
    <ul class='flex'>
        <li class='p-5'>
            <a
                href='https://www.instagram.com/your-instagram'
                target='_blank'
                rel='noopener noreferrer'>
                <!-- <FaInstagram class='text-white text-xl hover:text-gray-500' > -->
                isn
            </a>
        </li>
        <li class='p-5'>
            <a
                href='https://github.com/your-github'
                target='_blank'
                rel='noopener noreferrer'
                >git
            </a>
        </li>
    </ul>
</footer>
