<header class='flex top-0 z-20 w-full p-5 bg-red-200'>
    <nav class='m-auto md:ml-auto'>
        <ul class='flex gap-2 p-5'>
            <li class='bottom-0'>
                <a href='/'>Home</a>
            </li>
            <li class=''>
                <a href='/me'>Get to Know Me</a>
            </li>
            <li class='bottom-0'>
                <a href='/stuff'>Check out my Stuff</a>
            </li>
        </ul>
    </nav>
</header>
