---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const activeStyle = "underline underline-offset-8 decoration-rose-500 ";

const me = "me/" || "me";
const stuff ="stuff/" || "stuff" 

---


<header class='grid top-0 left-0 grid-cols-2 z-[5000] w-full  bg-black' data-scroll data-scroll-speed="">
    <a
      href='/'
      class='logo p-5 text-5xl  lg:text-7xl bg-gradient-to-tr from-purple-400 to-rose-400 bg-clip-text text-transparent font-extrabold '
      >Snehal</a
    >

  <nav class='flex w-full items-center flex-col md:flex-row relative'>
    <div class='ml-auto  flex items-center justify-evenly gap-2  pb-0'>
      <button id='toggler' class='md:hidden p-5'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          id='bars'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-12 h-12 dark:stroke-white'>
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25'></path>
        </svg>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="close" class="w-5 h-5 hidden group-active:block">
  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
</svg> -->
      </button>
      <ol
        class='p-5 hidden absolute md:static top-[100%] bg-black z-50 right-0 list-decimal md:gap-6 list-inside break-keep text-red-500  md:flex  flex-col md:flex-row w-full justify-center items-center '
        id='nav'>
        <li class='p-5 md:p-0'>
          <a href='/' class={currentPath === "" ? activeStyle : ""}>Home</a>
        </li>
        <li class='p-5 md:p-0 '>
          <a href='/me' class={currentPath === me ? activeStyle : ""}
            >Get to Know Me</a
          >
        </li>
        <li class='p-5 md:p-0'>
          <a href='/stuff' class={currentPath === stuff  ? activeStyle : ""}
            >Check out my Stuff</a
          >
        </li>
      </ol>
    </div>
  </nav>
</header>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

  .logo {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
  }

  header {
    z-index: 100;
  }

  /* Toggle B */
  #toggleB:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

  li{
    font-family: var(--font-1) !important;
  }
</style>


<script>
  console.log(window.location.pathname)
  const toggler = document.getElementById("toggler")
  const navbar = document.getElementById("nav")
const showMenu =()=>{
  if(navbar.classList.contains("hidden")){
    navbar.classList.remove("hidden")
    navbar.classList.add("flex" )
  }else{
    navbar.classList.remove("flex")
    navbar.classList.add("hidden")
  }

}
  toggler.addEventListener('click',showMenu)
</script>