---
---

<section class='p-5 md:px-24 flex w-full'>
    <div class='z-10 text-4xl flex gap-5 flex-col md:max-w-xl'>
        <p>
            Hello, I'm Snehal Chaudhari, a web developer based in Vyara,
            Gujarat.
        </p>
        <p>
            I'm a web developer who absolutely loves anime, technology, science,
            and nature. This wonderful combination of passions brings out the
            best in my creativity and problem-solving skills. With expertise in
            HTML, CSS, JavaScript, and cool frameworks like React and Node.js, I
            have the power to turn ideas into truly remarkable digital
            experiences. Making a positive impact is what I'm all about, and I'm
            thrilled to collaborate and grow together, both personally and
            professionally.
        </p>
        <p>
            I have completed my education in computer engineering. In 2015, I
            obtained my diploma in Computer Engineering from Nimra University.
            Building upon that foundation, I pursued a Bachelor's degree in
            Computer Engineering (BE) and completed it in 2020 from C.K.
            Pithawala College.
        </p>
        <p>
            In terms of professional experience, I have gained practical
            exposure through an internship and subsequent work at Sravadhi. I
            completed a 3-month internship at Sravadhi from May 2021, which
            provided me with valuable hands-on experience in web development.
            Following the internship, I continued working with Sravadhi for 7
            months until 2022,During my time at Sravadhi, I had the opportunity
            to work on projects utilizing Electron.js and React.js. Working with
            Electron.js allowed me to develop cross-platform desktop
            applications using web technologies. React.js, on the other hand,
            empowered me to build interactive and scalable user interfaces.
            These experiences enhanced my proficiency in these frameworks and
            deepened my understanding of building robust web applications.
        </p>
        <p>
            I'm passionate about making a positive impact through my work. I
            believe that every project is an opportunity for personal growth and
            learning. Staying updated with the latest trends and technologies in
            the web development industry is a priority for me, ensuring that I
            can deliver the best solutions.
        </p>
        <p>
            If you're looking for a dedicated, innovative, and enthusiastic web
            developer to bring your ideas to life, I'm here to assist you. Let's
            work together and create extraordinary digital experiences.
        </p>
    </div>
    <div
        class='sticky top-0 h-screen lg:grid place-content-center w-full hidden'>
        hello
    </div>
</section>
<div class='text-2xl md:text-3xl mt-10 grid grid-cols-2 gap-10 text-left mb-10'>
    <button class='p-5 bg-rose-400 text-left'>Back to Home</button>
    <button class='p-5 bg-rose-400 text-left'>Check out my projects</button>
</div>
