---
import Card from "../layouts/Card.astro";
import WorkLayout from "../layouts/workLayout.astro";
const repos = await Astro.glob("../content/work/*.md");
---

<section>

    <WorkLayout title='work'>
        <ul class='grid gap-5 grid-cols-1 md:grid-cols-2'>
            {
                repos.map((repo) => (
                    <Card
                        title={repo.frontmatter.title}
                        href={repo.frontmatter.github}
                        body='fsdfsdkfnksdnfksd jl'
                        homepage={repo.frontmatter.visit}
                        topics={repo.frontmatter.tags}
                    />
                ))
            }
        </ul>
    </WorkLayout>

</section>
