---
import Card from "../layouts/Card.astro";
import WorkLayout from "../layouts/workLayout.astro";
---

<section>
    <WorkLayout title='work' />
    <ul>
        <Card
            title='Vidhaykunj School,dolvan'
            href='https://vidhyakunjschooldolvan.gatsbyjs.io/'
            body='fsdfsdkfnksdnfksd jl'
        />
        <Card
            title='Vidhaykunj School,dolvan'
            href='https://vidhyakunjschooldolvan.gatsbyjs.io/'
            body='fsdfsdkfnksdnfksd jl'
        />
        <Card
            title='Vidhaykunj School,dolvan'
            href='https://vidhyakunjschooldolvan.gatsbyjs.io/'
            body='fsdfsdkfnksdnfksd jl'
        />
    </ul>
</section>
