---
import {  NAV_LINKS } from "consts";
import ChevronRight from "./ChevronRight.astro";
import LogoImage from "assets/logo.png";
import { Image } from "astro:assets";
const pathname = Astro.url.pathname
---

<header class="leading-6 tracking-normal sticky top-0 z-50 backdrop-blur-2xl bg-black/50 shadow shadow-accent">
  <nav
    class="md:max-w-4xl flex items-center text-pr justify-between m-auto text-highlight relative "
  >
    <a href="/" class="px-5 p-2"><Image src={LogoImage} alt="snehal" class=" w-10 md:w-14  "/></a>
    <ol class="" id="nav">
      {
        NAV_LINKS.map((link) => {
          return (
            <li class="">
              <a
                href={link.path}
                class={` w-fit md:text-xl p-5 flex items-center  ${pathname === link.path ? "text-white" :"underline underline-offset-2"} `}
              >
                {link.title}
                <ChevronRight/>
              </a>
            </li>
          );
        })
      }
      <li>
      </li>
    </ol>

  </nav>
</header>


