---
import { NAV_LINKS } from "@consts";
import LogoImage from "@assets/logo.png";
import { Image } from "astro:assets";
const pathname = Astro.url.pathname;
---

<header
  class="leading-6 tracking-normal sticky top-0 z-50 backdrop-blur-2xl bg-zinc-950 /50 px-5 py-3">
  <nav class="md:max-w-5xl flex items-center justify-between m-auto relative">
    <a
      href="/"
      class="!py-0 flex items-center justify-center md:text-xl font-extrabold link text-white">
      <Image
        src={LogoImage}
        alt="snehal"
        class="w-12 md:w-14"
        loading="eager"
      />
      <div>
        <span class=""> Snehal</span><br />
        <span> Chaudhari </span>
      </div>
    </a>
    <ol class="" id="nav">
      {
        NAV_LINKS.map((link) => {
          return (
            <li class="">
              <a
                href={link.path}
                class={` w-fit md:text-xl px-5 py-3 flex items-center rounded-[5rem] bg-highlight text-black  ${pathname === link.path ? " pointer-events-none bg-opacity-20 " : " font-smibold bg-highlight hover:bg-highlight/50 link  "} `}>
                {link.title}
              </a>
            </li>
          );
        })
      }
      <li></li>
    </ol>
  </nav>
</header>
