<div class='text-center p-5' data-scroll-section>
  <p
    class='title text-xl text-rose-500 transition-opacity duration-100 opacity-0'>
  </p>
  <p class='info text-2xl font-bold transition-opacity duration-100 opacity-0'>
  </p>
</div>

<script>
  import { scrollItems } from "../content/_scrolitems";
  function changeItem(title, item) {
    const list = document.querySelector(".info");
    const titleEl = document.querySelector(".title");

    setTimeout(function () {
      titleEl.textContent = title;
      list.textContent = item;

      list.classList.remove("opacity-0");
      titleEl.classList.remove("opacity-0");
    }, 300);
  }
  function currentScrollPercentage() {
    return Math.floor(
      ((document.documentElement.scrollTop + document.body.scrollTop) /
        (document.documentElement.scrollHeight -
          document.documentElement.clientHeight)) *
        100
    );
  }

  window.addEventListener("scroll", () => {
    const percentage = currentScrollPercentage();
    if (percentage in scrollItems) {
      const item = scrollItems[percentage];
      changeItem(item.category, item.value);
    } else {
      // changeItem("keep Scrolling", null);
    }
  });
</script>
