<section  class='relative py-60  '>
  <h2
    class='dark:text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -skew-x-12 whitespace-nowrap text-3xl  md:text-6xl sm:text-9xl font-extrabold py-4'>
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >S</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >t</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >i</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >l</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >l</span
    >
      <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >{" "}</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >H</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >e</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >r</span
    >
        <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >e</span
    >
  </h2>
 <p
   class='inline-block text-5xl transform rotate-6 skew-x-12'
      data-scroll
      data-scroll-repeat
      data-scroll-direction="horizontal"

      data-scroll-speed='-20'
      
 >⛵🌊</p>
</section>
<section id='services' class='relative py-60  '>

     <div class='transform rotate-6 skew-x-12 '>
    <div
      data-scroll
      data-scroll-direction='horizontal'
      data-scroll-speed='20'
      data-scroll-target='#services'>
      <span
        class='text-3xl sm:text-4xl md:text-6xl 2xl:text-7xl bg-green-400 p-5 whitespace-nowrap'
        >Want to know more — Who am i? — Read more</span
      >
    </div>
  </div>
  <div class='transform -rotate-6 -skew-x-12 mt-40'>
    <div
      data-scroll
      data-scroll-direction='horizontal'
      data-scroll-speed='-20'
      data-scroll-target='#services'>
      <span
        class='text-3xl sm:text-4xl md:text-6xl 2xl:text-7xl bg-green-400 p-5 whitespace-nowrap'
        >
        <a href="http://" target="_blank" rel="noopener noreferrer" class="underline decoration-rose-400 hover:text-rose-400 hover:decoration-black"> Mail me</a>
        - 
        <a href="http://" target="_blank" rel="noopener noreferrer" class="underline decoration-rose-400 hover:text-rose-400 hover:decoration-black">Vist Instagram</a>
         - <a href="http://" target="_blank" rel="noopener noreferrer" class="underline decoration-rose-400 hover:text-rose-400 hover:decoration-black">View on github</a>
         </span
      >
    </div>
  </div>
</section>
<section  class='relative py-60  '>
  <h2
    class='dark:text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -skew-x-12 whitespace-nowrap text-3xl  md:text-6xl sm:text-9xl font-extrabold py-4'>
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >K</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >e</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >e</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >p</span
    >
  
      <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >{" "}</span
    >
      <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >S</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >r</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='3'
      >l</span
    >
    <span
      class='inline-block'
      data-scroll
      data-scroll-repeat
      data-scroll-speed='2'
      >l</span
    >
    
  </h2>

</section>
