---
import Intro from "./Intro.astro";
import HeroText from "./HeroText.astro";
import ProfileCard from "./ProfileCard.astro";
---

<section
  class='relative flex flex-col justify-center lg:flex-row gap-0 overflow-hidden w-full lg:max-w-6xl  m-auto'>
  <ProfileCard />
  <Intro />
</section>
