---
import Intro from "./Intro.astro";
import Photo from "../../assets/photo.png";
import ExternalLink from "../../layouts/ExternalLink.astro";
---

<section
    class='flex p-5 min-h-screen md:p-14 lg:p-16 flex-col-reverse md:flex-row relative gap-5'>
    <div class='md:w-1/2 z-10 md:ml-auto'>
        <Intro />
    </div>
    <div
        class='grid place-content-center md:pt-64 md:flex md:flex-col md:justify-end gap-5 md:w-1/2 md:h-screen md:sticky top-0'>
        <h1 class='font-bold w-full text-5xl md:text-7xl md:hidden'>
            Yo! 'sup?
        </h1>
        <img
            src={Photo}
            id='poster'
            class='object-cover object-top w-96 h-96 rounded-full bg'
            alt='Wanted poster image'
            width='100%'
        />
        <div class='hidden text-2xl md:text-3xl md:grid gap-10 text-left'>
            <ExternalLink href='https://github.com/sneh-al' text='Github' />
            <ExternalLink
                href='https://www.instagram.com/sneh.al/'
                text='Instagram'
            />
        </div>
    </div>
</section>

<style>
    .bg {
        background: url("../../assets/bg.svg");
        background-size: cover;
    }
</style>
