
<section data-scroll-section>

    <div
    class='h-screen w-full relative font-bold grow-1 text-5xl md:text-7xl lg:text-9xl justify-center items-center text-violet-900 flex'
        data-scroll data-scroll-speed="4"
  >
  <p
  class=""
  data-scroll
  data-scroll-repeat
  >
  Yo! <span >'sup?</span>
</p><p class='animate-wiggle sup' >👋</p>
<p
class='text-2xl absolute bottom-0 px-10 py-5 bg-yellow-300 rounded-2xl mt-auto'>
Scroll down 👇
</p>
</div>

</section>


<style>
    :root {
  --stroke-width: calc(1em / 16);
}
    .sup {
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}
</style>