---
const { href, text } = Astro.props;
import ExternalSvg from "../assets/external.svg";
---

<a
    href={href}
    target='_blank'
    rel='noopener noreferrer'
    class='text-left md:text-3xl flex bg'>
    <span
        class='p-5 bg-rose-500 w-full bg-opacity-90 text-blue-100 flex items-ceter justify-between'>
        {text}
        <img src={ExternalSvg} class='w-10 h-10 my-auto' />
    </span>
</a>

<style>
    .bg {
        background: url("../assets/button.svg");
        background-size: cover;
        background-position: center;
    }
</style>
