---
const { icon } = Astro.props;
---

<div>
    <img src={icon} alt='mail me' class='w-6 h-6' />
    <a
        href='https://www.flaticon.com/free-icons/email'
        class='hidden'
        title='email icons '>Email icons created by Freepik - Flaticon</a
    >
</div>
