---
import "@fontsource/space-mono";
import "@fontsource/monoton";
import "@fontsource-variable/lexend-deca";
import { ViewTransitions } from "astro:transitions";
import Seo from "../components/SEOHead.astro";
type Props = {
  content: { title: string };
};
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <ViewTransitions />
    <Seo title={content.title} />
    <title>{content.title}</title>
  </head>
  <body class="relative" id="app">
    <div
      class="absolute inset-0 h-full w-full bg-black/90 opacity-5 bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:70px_70px] md:bg-[size:100px_100px] [mask-image:radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] -z-0">
    </div>
    <slot />
    <style is:global>
      body {
        @apply snap-y overflow-x-hidden bg-black text-accent;
        font-family: "Space Mono", monospace;
      }
      .bg-dot {
        background-image: radial-gradient(
            rgba(255, 255, 255, 0.1) 1px,
            transparent 0
          ),
          radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0);
        background-position:
          0 0,
          25px 25px;

        background-size: 50px 50px;
      }

      .text-p {
        @apply max-w-prose text-xl md:text-2xl;
      }
      .text-p-info {
        @apply max-w-prose text-2xl md:text-3xl lg:text-4xl;
      }
      .yo {
        font-family: "Monoton", system-ui;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Lexend Deca Variable", sans-serif;
        @apply md:!leading-[2.5rem];
      }
      .section-padding {
        @apply py-14 md:py-20 lg:py-24;
      }

      @keyframes slide {
        from {
          background-position: 0% 0%;
        }
        to {
          background-position: 100% 100%;
        }
      }

      .text-gradient {
        @apply bg-gradient-to-tr from-secondary via-primary to-highlight bg-clip-text !font-semibold text-transparent;
      }

      section {
        scroll-snap-align: start;
      }
    </style>
  </body>
</html>
