---
import "@fontsource/space-mono";
import "@fontsource/monoton";
import { ViewTransitions } from "astro:transitions";
import Seo from "../components/SEOHead.astro";
type Props = {
  content: { title: string };
};
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <Seo title={content.title} />
    <ViewTransitions />
    <title>{content.title}</title>
  </head>
  <body class="" id="app">
    <slot />
    <style is:global>
      body {
        @apply bg-dot bg-black text-accent/80;
        scroll-behavior: smooth;

        font-family: "Space Mono", monospace;
      }
      .bg-dot {
        background-image: radial-gradient(
          circle at 1px 1px,
          rgba(255, 255, 255, 0.1) 1px,
          transparent 0
        );
        background-size: 50px 30px;
        background-attachment: fixed;
      }

      .text-p {
        @apply text-xl font-semibold md:text-2xl;
      }
      .text-p-info {
        @apply text-2xl font-bold md:text-3xl lg:text-4xl;
      }
      .yo {
        font-family: "Monoton", system-ui;
      }
      .section-p {
        @apply py-32;
      }
      a {
        @apply text-nowrap rounded-[5rem] px-5 py-3 outline-accent transition-all duration-300 ease-linear hover:!outline;
      }
      @keyframes slide {
        from {
          background-position: 0% 0%;
        }
        to {
          background-position: 100% 100%;
        }
      }
    </style>
  </body>
</html>
