<p 
 data-scroll
  data-scroll-speed='.5'
class='text-2xl md:text-5xl max-w-prose   font-semibold  bg-gradient-to-br  from-red-900  via-rose-900 to-violet-900  dark:from-purple-200 dark:via-green-300 dark:to-rose-200 bg-clip-text text-transparent'>
    <slot />
</p>
