<p class='text-3xl md:text-5xl lg:text-6xl  text-semibold  bg-gradient-to-tr from-black via-green-950  to-rose-950  dark:from-purple-200 dark:via-green-300 dark:to-rose-200 bg-clip-text text-transparent'>
    <slot />
</p>
