---
import NaLinks from "../components/NaLinks.astro";
import StillHere from "../components/StillHere.astro";
import Layout from "./Layout.astro";
const { title, href, text, pageTitle } = Astro.props;
---

<Layout title={title}>
  <main id='intro' class='flex flex-col pt-44'>
    <a id="top"></a>

      <slot />
  </main>

  <StillHere />
</Layout>
