---
import Navbar from "../components/Navbar.astro";
import Main from "./main.astro";
import Footer from "../components/Footer.astro";

type Props = {
  metadata: { title: string };
};
const { metadata } = Astro.props;
---

<Main content={metadata}>
  <Navbar />
  <main class="scroller">
    <slot />
  </main>
  <Footer />
</Main>
