---
type Props = {
  className?: string;
  sectionClass?: string;
  title?: string;
};
const { className, sectionClass, title } = Astro.props;
---

<section
  class={`section-padding  md:px-10  w-full relative overflow-hidden    text-pretty  ${sectionClass}`}>
  <article
    class={`max-w-5xl m-auto text-xl z-10  rounded-[5rem]   md:text-2xl p-5 ${className} `}>
    <header class="opacity-0">
      <h1 class="yo px-5 text-primary text-5xl lg:text-7xl pb-10">
        {title}
      </h1>
    </header>
    <main class="pt-5 main">
      <slot />
    </main>
  </article>
</section>

<script>
  import { animate, inView } from "motion";

  inView("header", (info) => {
    animate(
      info.target,
      { opacity: [0, 0.5, 1] },
      { duration: 1, delay: 0.5, endDelay: 0.5 }
    );
  });
</script>
