---
type Props = {
  className?: string;
  sectionClass?: string;
  title?: string;
};
const { className, sectionClass, title } = Astro.props;
---

<section
  class={`section-p  md:px-10  w-full relative overflow-hidden     text-pretty  ${sectionClass}`}>
  <article
    class={`max-w-5xl m-auto text-xl z-10  md:text-2xl p-5 ${className} `}>
    <header class="rellax">
      <h1 class="yo title text-primary text-3xl md:text-5xl lg:text-7xl pb-10">
        {title}
      </h1>
    </header>
    <main class="pt-5 main p-5">
      <slot />
    </main>
  </article>
</section>
<style>
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      header {
        transform: scale(1);
        animation: scale-up linear both;
        animation-duration: 3ms;
        animation-timeline: view();
        animation-range: 250px 500px;
      }
    }
  }

  @keyframes scale-up {
    from {
      transform: scale(1.5);
    }
  }
</style>
