---
type Props = {
  name: string;
  isScondary: boolean;
};

const { name, isScondary } = Astro.props;
---

<li
  class={`flex transition-all flex-col duration-300 ease-out aspect-video bg-accent/10 rounded-[5rem] max-w-28 w-full overflow-hidden text-center justify-between  relative group   ${isScondary && " opacity-40"}`}>
  <p class="m-auto">{name}</p>
</li>
