---
import { Image } from "astro:assets";

type Props = {
  name: string;
  isScondary: boolean;
  icon: any;
};

const { name, isScondary, icon } = Astro.props;
---

<li
  class={` w-fit gird content-center max-w-28  md:max-w-32 lg:max-w-44 px-5 py-2 duration-300 ease-out      bg-accent/5   rounded-[5rem]    ${isScondary && " opacity-60"}`}>
  <abbr title={name}>
    <Image src={icon} class="" alt={name} />
  </abbr>

  <p class="sr-only">{name}</p>
</li>
